@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: rgba(255,255,255,0.6);
  --glass: rgba(255,255,255,0.35);
  --blur: saturate(180%) blur(6px);
}

.glass {
  background: var(--glass);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}
